{% extends 'base.html.twig' %}

{% block title %}Les films populaires
{% endblock %}
{% block body %}
	<h1 class="mt-5 mb-5 text-center py-5 px-3">Les Films populaires</h1>
	<div class="container-fluid p-2">
		<div class="row gap-5">
			{% for movie in data.results %}
				<div class="col-xl-2">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">{{movie.title}}</h5>
							<p class="card-text">{{ movie.release_date}}</p>
							<h6 class="card-text text-muted">Note moyenne : {{movie.vote_average}}</h6>
							<h6 class="card-text text-muted">Nombre de vote : {{movie.vote_count}}</h6>
							<a href="{{ path('app_movie_details', {'id': movie.id, 'rate': movie.vote_average, 'numberVote': movie.vote_count}) }}" class="btn btn-primary">Voir plus</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{# <nav aria-label="Page navigation example m-auto	">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#">Previous</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">3</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav> #}
{% endblock %}
