{% extends 'base.html.twig' %}

{% block title %}
	{{movie.original_title}}
{% endblock %}


{% block body %}
	<div class="row">
		<div class="card my-5 col-6 mx-auto">
			<img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{movie.original_title}}</h5>
				<p class="card-text">{{movie.overview}}</p>
			</div>
		</div>
	</div>
	<h2 class="text-center">Les derniers commentaire de ce film :</h2>
	<ul class="mx-auto w-50">
		{% for comment in comments %}
			<li>
				{{ comment.comment }}
			</li>
		{% endfor %}
	</ul>
	{% if app.user.id is defined %}
	<div class="d-none">
		{{ form_start(form) }}
		{{ form_widget(form.movie, { 'attr': {'value': id }}) }}
		{{ form_widget(form.id_user, { 'attr': {'value': app.user.id }}) }}
	</div>
	<div class="m-auto w-50">
		{{ form_widget(form.comment) }}
		{{ form_end(form) }}
	</div>
	{% endif %}

{% endblock %}
